body {
	display: flex;
	justify-content: center;
}
.my-table,
th,
td {
	background-color: #dadada;
	border: 3px solid white;
	border-collapse: collapse;
	padding: 1rem;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
